# Database Configuration
# These are the default credentials for the MS SQL Server container
DB_SERVER=db
DB_USER=sa
DB_PASSWORD=Challenge123!
DB_NAME=challenge_db

# Security Settings
# SECRET_KEY: Used to sign JWT tokens. A default is provided for the challenge.
SECRET_KEY=91ca18d5336d3967d64d9943615e478553932ced098c47f9f045095e7c81666e
ALGORITHM=HS256
# Token expiration set to ~10 years for easier testing/review
ACCESS_TOKEN_EXPIRE_MINUTES=5256000

# App Environment
APP_ENV=development
